

.input_screen {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_screen > input {
    width: 50%;
}

.input_screen > .btn {
    width: 100px;
}

/* 3중 flex 
1. row
2. col
3. 로봇 아이콘 */


.main_screen {
    display: none;
    height: 100vh;
}

.map {
    border: 5px solid red;
    min-width: 60%;
    max-height: 60%;
    display: flex;
    flex-direction: column;
}

.map > .row {
    border: 3px solid green;
    display: flex;
    flex: 1;
}

.row > .cell {
    display: flex;
    border: 1px solid wheat;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.status_screen {
    margin-left: 20px;
}

.curr {

}

.status_screen > .status {
    
}

.status_screen > .life_span {

}

.status_screen > .battery {

}

.status_screen > .coverage {

}